@import"reset";

* {
    margin: 0;
    padding: 0;
}

/*憑直覺抽一張吧*/
.section-tarotcard {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 60px;

    .tarotcard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-content: center;
        gap: 60px;

    }

    #tarotcard-title {
        width: 344px;
        height: 42px;
        border: 1px solid white;
        // margin: 70px auto 60px;
        // margin-top: 54 auto auto px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    .dimond-left {
        width: 22px;
        height: 39.22px;
        margin: 0 50px 0 0;
    }

    .dimond-right {
        width: 22px;
        height: 39.22px;
        margin: 0 0 0 50px;
    }

    #tarot-title {
        color: #fff;
        font-size: 24px;
    }

    #tarotcard-box {
        width: 1279px;
        height: 427px;
        border: 1px solid white;
    }

    #tarotcard-btn {
        display: flex;
        padding: 20px 100px;
        justify-content: center; //items or content
        align-items: center;
        /*樣式*/
        color: #fff;
        background-color: transparent;
        border-radius: 1000px;
        border: 2px solid #8750BF;
        backdrop-filter: blur(2px);
    }
}

/*專屬訂製Banner*/
#custom {
    color: #fff;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    // 背景
    background-image: url("../images/客製化BN.jpg");
    background-size: cover; //讓圖片填滿容器
    background-position: center; //圖片置中
    background-repeat: no-repeat; //不重複

    .dimond-left {
        width: 34px;
        height: 60px;
        margin: 0 40px 0 0;
    }

    .dimond-right {
        width: 34px;
        height: 60px;
        margin: 0 0 0 40px;
    }

    #title-all {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .custom-title {
        width: 783px;
        height: 121px;
        margin: 54px auto 34px;
        margin-top: 54 auto auto px;
        display: flex;
        align-items: center;
    }

    #custom-titlebox {
        width: 620px;
        height: 121px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #custom-h2 {
        font-size: 36px;
    }

    #custom-p {
        font-size: 18px;
    }

    button {
        color: #fff;
        width: 264px;
        height: 57px;
        /* 玻璃擬態 */
        border-radius: 40px;
        border: 1px solid rgba(255, 255, 255, 0.25);
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.10) inset, 0px 0px 15px 2px rgba(233, 166, 160, 0.30);
        backdrop-filter: blur(25px);
    }
}