.navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
ul{
    list-style: none;
    width: 190px;
    height: 176px;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 160%;
}
h2{
    font-size: 40px;
    width: 180px;
    height: 120px;
    display: flex;
    justify-content: center; */
    align-items: center;
}

.navigation .menu {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding: 130px 50px 339px;
    border: 1px solid black;
    margin: 0 23px 70px 23px;
    
}
.menu-child {
    font-size: 16px;
    height: 116px;
    display: flex;
    /* justify-content: center; */
}
.menu-child ul{
    margin: 0;
    padding: 0;
}